<html>
<head>
<style>
table { border-collapse: collapse;
width: 100%;}
tr {border-bottom: 1px solid #ddd;}
td {
  padding-left: 125px; padding-top: 5px; padding-bottom: 5px;
}
</style>
</head>
<body>
<h2>All Flights  </h2><br>
<%= link_to "Nonstop Flights Only", "/flights/nonstop"  %>


<table>
  <tr>
    <th>Flight</th>
    <th>Destination</th>
    <th>Airline</th>
    <th>Nonstop?</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
<% @flights.each do |flight|%>
  <section id = "Flight-<%=flight.id%>">
    <tr>
      <td><%=link_to "Flight #{flight.id}", "/flights/#{flight.id}"%></td>
      <td><%="#{flight.destination}"%></td>
      <td><%="#{flight.airline.name}"%></td>
      <td><%="#{flight.nonstop}"%></td>
      <td><%= link_to "Update Flight", "/flights/#{flight.id}/edit", method: :get %>
      <td><%= link_to "Delete Flight #{flight.flight_number}", "/flights/#{flight.id}", method: :delete %></p>
    </tr>
  </section>
<% end %>

</table>
</body>
</html>