<html>
<head>
<style>
table { bord0er-collapse: collapse;
width: 75%;}
tr {border-bottom: 1px solid #ddd;}
td {
  padding-left: 70px; padding-top: 5px; padding-bottom: 5px;
}
</style>
</head>
<body>
<h2>All Airlines</h2>

<table>
<caption><h3><strong>All Airlines</strong></h3></caption>
  <tr>
    <th>Airline</th>
    <th>Date/Time Record Created</th>
    <th>Delete Record?</th>
    <th>Update Airline</th>
  </tr>
<% @airlines.each do |airline|%> 
  <section id = "airline-<%=airline.id%>">
    <tr>
      <td><%= link_to "#{airline.name}", "/airlines/#{airline.id}"%></td>
      <td><%="#{airline.created_at}"%></td>
      <td><%= link_to "Delete #{airline.name}", "/airlines/#{airline.id}", method: :delete %> </td> 
      <td><p><%= button_to "Update Airline", "/airlines/#{airline.id}/edit", method: :get %></p>
    </tr>
    
    </section>
<% end %>
</table>
<p><h3><%=button_to "Create a New Airline", "/airlines/new", method: :get %></h3></p>
</body>
